configuration{
    modi: "run,drun,window,calc,emoji,ssh";
    modes: [run,drun,window,calc,combi,emoji,ssh];
    icon-theme: "Adwaita-purple";
    show-icons: true;
    terminal: "uwsm app -- kitty -e";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-drun: "   Apps ";
    display-run: "   Run ";
    display-window: " 﩯  Window";
    display-Network: " 󰤨  Network";
    sidebar-mode: true;
}

@theme "catppuccin-mocha"

