* {
  font-family: Symbols Nerd Font, IosevkaLyteTerm, monospace;
  font-size: 16px;
  border: none;
  border-radius: 0;
  min-height: 0;
}

window#waybar {
  border-radius: 5px;
  transition-property: background-color;
  transition-duration: 0.5s;
  background: @theme_base_color;
  border: 2px solid @unfocused_borders;
  color: @theme_text_color;
}

window#waybar.hidden {
  opacity: 0.5;
}

#backlight,
#battery,
#clock,
#cpu,
#disk,
#mode,
#memory,
#tray,
#pulseaudio,
#custom-menu,
#custom-power,
#custom-weather,
#custom-updater,
#custom-vpn_check,
#custom-uptime,
#custom-cputemp,
#window,
#network {
  padding: 0px 4px;
}

#workspaces {
  font-size: 12px;
}

#backlight {
  color: #87b0f9;
}

#battery {
  color: #a6e3a1;
}

@keyframes blink {
  to {
    color: #313244;
  }
}

#battery.critical:not(.charging) {
  background-color: #f38ba8;
  color: @theme_text_color;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#clock {
  color: #f9e2af;
}

#cpu {
  color: #a6e3a1;
}

#memory {
  color: #89dceb;
}

#disk {
  color: #74c7ec;
}

#tray {
  color: #fab387;
  margin-right: 3px;
}
#tray > .passive {
  -gtk-icon-effect: dim;
}
#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}

#workspaces button {
  margin: 4px 0px;
  border-radius: 5px;
}

#workspaces button.active {
  color: #fab387;
}

#custom-menu {
  color: #f5e0dc;
}

#custom-power {
  color: #f38ba8;
  margin-right: 3px;
}

#custom-updater {
  color: #a6e3a1;
}

#custom-uptime {
  color: #87b0f9;
}

#custom-weather {
  color: #b4befe;
}

#custom-vpn_check {
  color: #89dceb;
}
#custom-cputemp {
  color: #94e2d5;
}

#pulseaudio {
  color: #74c7ec;
}

#pulseaudio.bluetooth {
  color: #f5c2e7;
}
#pulseaudio.muted {
  color: #f38ba8;
}

#window {
  color: #cba6f7;
}

#network {
  color: #94e2d5;
}
#network.disconnected,
#network.disabled {
  background-color: #313244;
  color: #cdd6f4;
}
