@import "mocha.css";
* {
  font-family: Symbols Nerd Font Mono, Iosevka Medium;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  min-height: 0;
  margin: 1px;
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  background: @theme_base_color;
  border: 3px solid @overlay0;
  border-radius: 5px;
  /* padding: 5px; */
  /* margin: 0; */
}

window#waybar.hidden {
  opacity: 0.5;
}

#waybar.empty #window {
  background: none;
}

/* .modules-left, .modules-center, .modules-right { */
/*   background: @theme_base_color; */
/*   border: 3px solid @overlay0; */
/*   padding: 0px 5px; */
/*   border-radius: 5; */
/* } */

/* .modules-center { */
  /* border: 3px solid @lavender; */
  /* margin: 0px 5px; */
/* } */

#idle_inhibitor,
#backlight,
#battery,
#clock,
#cpu,
#disk,
#mode,
#memory,
#tray,
#wireplumber,
#custom-menu,
#custom-power,
#custom-weather,
#custom-updater,
#custom-vpn_check,
#custom-uptime,
#custom-cputemp,
#custom-waybar-mpris,
#window,
#submap,
#network {
  padding: 0px 2px;
}

#idle_inhibitor {
  color: @blue;
}

#backlight {
  color: @blue;
}

#battery {
  color: @green;
}

@keyframes blink {
  to {
    color: @surface0;
  }
}

#battery.critical:not(.charging) {
  background-color: @red;
  color: @theme_text_color;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  box-shadow: inset 0 -3px transparent;
}

#clock {
  color: @yellow;
}

#cpu {
  color: @green;
}

#memory {
  color: @sky;
}

#disk {
  color: @sapphire;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}
#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}

#workspaces button {
  border-radius: 5px;
  margin: 3px;
  padding: 3px;
}

#workspaces button:hover {
 border-radius: 5px;
 color: @overlay0;
 background-color: @surface0;
}

#workspaces button.persistent {
  color: @surface1;
  border-radius: 0px;
}

#workspaces button.active {
  color: @peach;
  border-radius: 0px;
}

#workspaces button.urgent {
  color: @red;
  border-radius: 0px;
}

#custom-menu {
  color: @rosewater;
}

#custom-power {
  color: @red;
  margin-right: 3px;
}

#custom-updater {
  color: @red;
}

#custom-uptime {
  color: @blue;
}

#custom-weather {
  color: @lavender;
}

#custom-vpn_check {
  color: @sky;
}
#custom-cputemp {
  color: @teal;
}

#wireplumber {
  color: @sapphire;
}

#wireplumber.bluetooth {
  color: @pink;
}
#wireplumber.muted {
  color: @red;
}

#window {
  color: @mauve;
}

#custom-waybar-mpris {
  color:@lavender;
}

#network {
  color: @teal;
}
#network.disconnected,
#network.disabled {
  background-color: @surface0;
  color: @text;
}
