* {
  font-family: Symbols Nerd Font, IosevkaLyteTerm, monospace;
  font-size: 14px;
  border: none;
  border-radius: 0;
  min-height: 0;
}

window#waybar {
  background: transparent;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.5;
}

#backlight,
#battery,
#clock,
#cpu,
#disk,
#mode,
#memory,
#tray,
#pulseaudio,
#custom-menu,
#custom-power,
#custom-weather,
#custom-updater,
#custom-cycle_wall,
#custom-vpn_check,
#custom-uptime,
#custom-cputemp,
#window,
#network {
  border-radius: 5px;
  padding: 0px 4px;
  margin-bottom: 4px;
  color: #313244;
  border: 2px solid #313244;
}

#workspaces {
  border-radius: 5px;
  margin-bottom: 4px;
  padding: 0;
  color: #313244;
}

#backlight {
  background-color: #87b0f9;
}

#battery {
  background-color: #f9e2af;
}

@keyframes blink {
  to {
    color: #313244;
  }
}

#battery.critical:not(.charging) {
  background-color: #f38ba8;
  color: #f38ba8;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#clock {
  background-color: #fab387;
}

#cpu {
  background-color: #fab387;
}

#memory {
  background-color: #a6e3a1;
}

#disk {
  background-color: #94e2d5;
}

#tray {
  background-color: #c6d0f5;
}
#tray > .passive {
  -gtk-icon-effect: dim;
}
#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}

#workspaces button {
  /* background-color: #f9e2af; */
  background-color: #d9e0ee;
  color: #313244;
  border: 2px solid #313244;
  margin-left: 3px;
  border-radius: 5px;
}

#workspaces button.active {
  background-color: #f38ba8;
  color: #313244;
}

#workspaces button.urgent {
  background-color: #f38ba8;
  color: #313244;
}

#workspaces button:hover {
  background: #f2cdcd;
  color: #313244;
}

#custom-menu {
  background-color: #f5e0dc;
}

#custom-power {
  background-color: #f38ba8;
  margin-right: 3px;
}

#custom-updater {
  background-color: #a6e3a1;
}

#custom-uptime {
  background-color: #89dceb;
}

#custom-weather {
  background-color: #b4befe;
}

#custom-cycle_wall {
  background-color: #89dceb;
}

#custom-vpn_check {
  background-color: #89dceb;
}
#custom-cputemp {
  background-color: #f9e2af;
}

#pulseaudio {
  background-color: #74c7ec;
}

#pulseaudio.bluetooth {
  background-color: #f5c2e7;
}
#pulseaudio.muted {
  background-color: #f38ba8;
}

#window {
  background-image: linear-gradient(45deg, #89dceb 0%, #b4befe 100%);
}

#network {
  background-color: #94e2d5;
}
#network.disconnected,
#network.disabled {
  background-color: #313244;
  color: #cdd6f4;
}
